body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.fa-link-button-default
{
    color: dimgray;
}

.fa-link-button-edit
{
    color: #5cb85c;
}

.fa-link-button-delete
{
    color: #d9534f;
}

.fa-link-button-info
{
    color: #5bc0de;
}

.fa-link-button-default:active
.fa-link-button-edit:active
.fa-link-button-delete:active
.fa-link-button-info:active
{
    color: #428bca;
}