@model AddressBook.Models.RoleViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Role</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>

        </dt>
        <dd>
            <br />
            <form action="@Url.Action("Edit", "Roles", new { id = Model.Id }, protocol: Request.Url.Scheme)">
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-pencil"></i> Edit
                </button>
            </form>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
